body {
	background-color: white;
	margin: 0 auto;
	padding: 0;
	font-family: 'Tenor Sans', sans-serif;
}

#kopf {
	background-color: white;
	border: 1px solid rgba(189,195,199);
	box-shadow: 1px 5px 5px 0px #f0f0f0;
	margin-left: 2.5%;
	margin-top: 2.5%;
	margin-right: 2.5%;
}

#kopf h1 {
	color: rgba(0, 48, 80, 1);
	background-color: white;
	text-align: center;
	font-size: 40px;
	margin-top: 2%;
	padding-bottom: 10px;
}
#leiste {
	margin-left: 100px;
}

article.infobox section {
    position: absolute;
    display: block;
    width: 90%;
    height: 630px;
    top: 300px;
    background-color: var(--dark-white);
		border: 0.5px solid var(--dark-white);
}
article.infobox section h2 {
    position: absolute;
    left: 0;
    top: -40px;
    width: 150px;
    height: 40px;
    font-family: Verdana;
    font-size: 15px;
    margin: 0;
    background-color: var(--main-blue);
    border: solid #ffffff;
    border-width: 1px 1px 0 0;
    z-index: 2;
}
article.infobox section:nth-child(2) h2 {
    left: 150px;
    z-index: 1;
}

article.infobox section:nth-child(3) h2 {
    left: 300px;
    z-index: 0;
}

article.infobox section h2 a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: var(--main-white);
}
article.infobox section:target, article.infobox section:target h2 {
    color: #000000;
    background-color: var(--main-white);
    z-index: 1;
		border-top: 0.5px solid var(--dark-white);
		border-left: 0.5px solid var(--dark-white);
		border-right: 0.5px solid var(--dark-white);
}

article.infobox section:target h2 a {
    color: var(--main-blue);

}
#kreisbutton div{
	background-image: url(../Images/teilnehmer-hinzufuegen.png);
  background-size: cover;
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

/* css simon teilnehmerliste*/
td, th{
	border: 0.5px solid var(--dark-white);
	padding: 5px;
}
.showTeilnehmerErstellen{
	height:auto !important;
	overflow: visible !important;
}
#textfeld{
	height: 0px;
	overflow: hidden;
	transition: 1s all;
}
#textfeld legend {
	margin: 50px 0px 0px 15px;
	font-size: 15px;
}
#textfeld input[type="text"] {
	margin: 10px 0px 0px 15px;
	padding-left: 5px;
	width: 350px;
	height: 30px;
}
#textfeld input[type="submit"] {
	margin: 10px 0px 0px 265px;
	width: 100px;
	height: 30px;
}
#teilnehmer {
	background-color: white;
	width: 70%;
	margin: 50px 0px 0px 50px;
	height: 450px;
	overflow-y: auto;

}
#teilnehmer table {
	  border-collapse: collapse;
		width: 100%;
}
#teilnehmer table tr th{
		height: 50px;
		text-align: center;
		color: var(--main-blue);
}
#teilnehmer table tr td{
		text-align: center;
		color: var(--main-blue);
}
table tr td.b_l{
	border: none;
	text-align: left;
}

#teilnehmer_hinzu{
	float: right;
	margin-right: 45px;
	margin-top: 10px;
	margin-bottom: 10px;

}
#teilnehmer_hinzu legend{
		color: var(--main-blue);
}

.status{
	width: 70px;
}

.csv{
<<<<<<< HEAD
<<<<<<< HEAD
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	border: 1px solid rgb(189,195,199);
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
.csv span{
	color: var(--main-blue);
}

#button{
	color: var(--main-white);
	border-color: var(--main-blue);
	background-color: var(--main-blue);
	width: 100px;
	height: 25px;

=======
	float: right;
	margin-right: 45px;
>>>>>>> 8eb671ea6fc5263c23efa46bec1e9dc4b83ff0bc
=======
	float: left;
	margin-left: 45px;
	margin-top: 25px;
>>>>>>> 1ce256f353f5292a96d5ff3b244d77b840aa7a60
}
#button:hover{
	color: var(--main-blue);
	border-color: var(--main-orange);
	background-color: var(--main-orange);
}


/* css benjamin email senden*/
#fenster{
    margin: 80px 0px 0px 25px ;
		padding-left: 0px;
    height: 300px;
    width: 1300px;
}

#cke_editor1 {
    margin-top: 10px;
    margin-left: 12rem;
}
#senden{
    position: absolute;
		top: 600px;

    width: 150px;
    height: 30px;
}
#inhalt {
	background-color: #fafafa;
	float: left;
	width: 75%;
	height: 560px;
	margin: 0px 0px 0px 50px;
	padding: 10px 10px 20px 10px;
	overflow-y: auto;
}
#kurskopf{
	background-color: white;
	border: 1px solid rgba(189,195,199);
	box-shadow: 1px 5px 5px 0px #f0f0f0;
	margin-left: 2.5%;
	margin-top: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 30px;
	text-align: center;
	padding-bottom: 5px;
}
#kurskopf h1{
	background-color: white;
	text-align: center;
	font-size: 40px;
	margin-top: 2%;
	padding-bottom: 10px;
	color: var(--main-blue);
}
#kurserstelleninhalt{
	padding-top: 5px;
	background-color: #fafafa;
	border: 0.5px solid var(--dark-white);
	width: 90%;
	height: 740px;
	margin: 0px 40px 0px 100px;
	padding: 10px 100px 40px 100px;
	overflow-y: auto;
}
#input{
margin-bottom: 20px;

}
#input p input{
	border: 0.5px solid var(--dark-white);
}

#box p{
	color: var(--main-blue);
	font-weight: bold;
}
#box a{
	color: var(--main-blue);
	font-weight: bold;
	text-decoration: none;
}


#kurs1 {
	padding: 20px;
	margin: 10px;
	margin-left: 0px;
	background-color: var(--main-blue);
	cursor: pointer;
}
#kurs1 a {
	text-decoration: none;
	font-size: 20px;
	color: #e9f6ff;
}
#kurs1 p {
	color: #e9f6ff;
}
#kurs1 a:hover{
	color: var(--main-orange);
}
#kurs1 h1 {
	color:  #e9f6ff;
}
#erstell_button {
	margin: 0px 0px 0px 10px;
	padding: 0;
	width: 100px;
	height: 100px;
	border-radius: 150px 150px 150px 150px;
  background-image: url("../Images/fortbildung_erstellButton.png");
  background-repeat: no-repeat;
  background-size: contain;

}
#kurs_erstellbutton {
 margin: 50px 0px 0px 1200px;

}
#titel {
	margin: 40px 0px 0px 20px;
	font-size: 15px;
	width: 450px;
	padding: 5px;
	border: 1.2px solid #000;
	text-align: center;
}
#beschreibung {
	margin: 20px 0px 0px 20px;

	width: 800px;
	height: 100px;
	padding-left: 5px;
	border: 1.2px solid #000;
	text-align: left;
	overflow-y: auto;
}
#beschreibung p {
	font-size: 15px;
}
#o_d {
	margin: 20px 0px 0px 20px;
}
#ort {
	border: 1.2px solid #000;
	margin-left: 30px;
	padding: 0px 30px 0px 30px;
	display: inline-block;
}
#datum {
	border: 1.2px solid #000;
	margin-left: 60px;
	padding: 0px 30px 0px 30px;
	display: inline-block;
}
#zeit {
	width: 800px;
	margin: 20px 20px 0px 20px;
	border: 1.2px solid #000;
	padding: 30px 10px 30px 10px;
	border: 1.2px solid #000;
}
#von {
	padding: 0px 15px 0px 15px;
	display: inline;
		border: 1.2px solid #000;
}
#bis {
	padding: 0px 15px 0px 15px;
	display: inline;
		border: 1.2px solid #000;
}
#dauer {
	padding: 0px 0px 0px 0px;
	margin-right: 5px;
	display: inline;
	border: 1.2px solid var(--dark-white);
}
#anmeldeschluss {
	padding: 0px 30px 0px 30px;
	margin-left: 150px;
	display: inline;
	  border: 1.2px solid #000;
}
#krk {
	margin: 40px 0px 0px 20px;
}
#kontakt {
	padding: 0px 30px 0px 30px;
	border: 1.2px solid #000;
	margin-left: 40px;
	display: inline;
}
#referent {
	padding: 0px 30px 0px 30px;
	border: 1.2px solid #000;
	margin-left: 60px;
	display: inline;
}
#koordination {
	padding: 0px 30px 0px 30px;
	border: 1.2px solid #000;
	margin-left: 80px;
	display: inline;
}

@media screen and (max-width: 27rem){
    #feld{

    }
}
