#kopf {
	background-color: #c4cdd4;
    margin: 0px;
	padding: 25px 0px 25px 0px;
	text-align: center;
}

#kopf h1 {
	color: #1b5873;
	font-family: serif;
	font-weight: normal;
	font-size: 55px;
	margin: 0px;
}

article.infobox section {
    position: absolute;
    display: block;
    width: 99%;
    height: 650px;
    top: 300px;
    background-color: #c5d2de;
}
article.infobox section h2 {
    position: absolute;
    left: 0;
    top: -40px;
    width: 124px;
    height: 75px;
    font-family: Verdana;
    font-size: 15px;
    margin: 0;
    background-color: #194b7d;
    border-radius: 15px 15px 0 0;
    border: solid #ffffff;
    border-width: 1px 1px 0 0;
    z-index: 1;
}
article.infobox section:nth-child(2) h2 {
    left: 120px;
    z-index: 0;
}

article.infobox section:nth-child(3) h2 {
    left: 240px;
    z-index: -1;
}

article.infobox section h2 a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: #c5d2de;
}
article.infobox section:target, article.infobox section:target h2 {
    color: #000000;
    background-color: #c5d2de;
    z-index: 1;
}

article.infobox section:target h2 a {
    color: #194b7d;
}
#suchleiste {
	position: absolute;
	top: 50px;
	left: 30px;
}
#suchleiste input[type="search"]{
	border-radius: 10px 10px 10px 10px;
	width: 600px;
	height: 35px;
}
#kreisbutton div{
	background-image: url(../Images/teilnehmer-hinzufuegen.png);
  background-size: cover;
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

/* css simon teilnehmerliste*/
table, td, th{
	border: 1px solid black;
}
#teilnehmer {
	width: 69%;
	margin: 10px;
	position: absolute;
	top: 100px;
}
#teilnehmer table {
	  border-collapse: collapse;
		width: 100%;
		text-align:center;
}
#teilnehmer table tr th{
		height: 50px;
}
/* css benjamin email senden*/
#fenster{
    margin: 80px 0px 0px -60px;

    height: 35rem;
    width: 500px;
}

#cke_editor1{
    margin-top: 10px;
    margin-left: 12rem;
}
#senden{
    margin-top: 3rem;
    margin-right: 30%;
    float: right;
    width: 100px;
    height: 30px;
}

@media screen and (max-width: 27rem){
    #feld{

    }
}
