:root{
  --main-orange: rgba(233, 186, 103);
  --main-blue: rgba(49, 83, 108);
  --main-grey: rgba(34, 34, 34);
}
html, body{
  padding: 0;
  margin: 0;
}
.v_head{

}
.v_head h1 {
  color: var(--main-orange);
  font-family: Arial sans-serif;
  font-size: 4em;
}
.v_foot{
  background-color: var(--main-grey);
}
