<footer id="impressum">
  <div id="imp-body">
    <a id="footer-title">Impressum</a>
    <a id="footer-text">© 2020 Landesberufsschule für Handwerk und Industrie Bozen</a>
    <div id="footer-bottom">
    <table>
      <tr id="table-tr-title">
        <td id="table-title"colspan="3">Das Team: Info 4 2019/20</td>
      </tr>
      <tr>
          <td>Julian Fink</td>
          <td>Robert Mathá</td>
          <td>Julian Hofer</td>
      </tr>
      <tr>
          <td>Felix Welscher</td>
          <td>Armin Gross</td>
          <td>Lukas Roccasalvo</td>
      </tr>
      <tr>
          <td>Argtim Gashi</td>
          <td>Benjamin Matscher</td>
          <td>Simon Mairhofer</td>
      </tr>
    </table><br>
  </div>
    <div id="footer-logo" onclick="href()"><img src="images/logo.png"/></div>
  </div>
</footer>

<script type="text/javascript">
  function href(){
    window.location.href = "http://www.bozen.berufsschule.it/";
  }
</script>
