<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/seminar-style.css">
  <link rel="stylesheet" type="text/css" href="styles/kurs-style.css">
</head>

<body>
  <header>
    <h1>Kurs name </h1>
  </header>
  <div class="Content">
    <div>
      <p>Am 12.01.2020</p>
    </div>
    <div>
      <p>Von 8:00 bis 16:00</p>
    </div>
    <div>
      <p>Lange Beschreibung klsflköhasklfjslfjlisdkjvnlkdjjfdsmljfdsmaljmfdslkjsasadkjfaalöskjdflksajflsaklöfdkjalkjfdölsjdkflkjafdlkjflkdsjaökdfsajlöfsdjöajfdölöjfölasjfdlöajsdflasfjlöaskjfdöasjf</p>

    </div>
    <div>
      <p>Kontakt: jsdlkfasjfl</p>
    </div>
    <div>
      <p>Referent: lskdjflsakjf</p>
    </div>
    <div>
      <p>Raum: lkdjflkasjf</p>
    </div>
    <div>
      <p>Anmeldeschluss: jsdlkfasjfl</p>
    </div>
    <div>
      <p>Teilnehmer: 20/40</p>
    </div>

    <div class="Submit">
      <a>Anmelden</a>
    </div>
  </div>
</body>
