<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
    <title>Fortbildungsverwaltung - Login</title>
    <link rel="icon" href="../logo.jpg">
  <link rel="stylesheet" type="text/css" href="styles/login-style.css">
</head>
<body>
  <div id="login">

      <div class="login-item">
          <img src="Images/login-icon.png" alt="login-image">
      </div>

      <div class="login-item">

        <form id="login-form" method="post">
          <legend>Seminarverwaltung LBSHI</legend>
          <input type="text" placeholder="Personal Key" name="key" required>
          <input type="submit" name="Login" value="Login">
        </form>

      </div>
  </div>
</body>

<?php
  if(isset($_POST['Login'])){
    $token = $_POST['key'];
    header('Location: index.php?token='.$token.'&aktion=login');
  }
?>
</html>
