<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/seminar-style.css">
  <meta charset="UTF-8" />
</head>

<body>
  <?php
  $fortbildungen = Fortbildung::findeNachBenutzer($user);

  foreach($fortbildungen as $fortbildung){
    $kurse = $fortbildung->findeAlleKurse();
    ?>
    <div class="seminar">
    <header>
      <h1>
        <?php echo $fortbildung->getName(); ?>
        <a class="header-info-text">Seminare / <?php echo $user->getVorname().' '.$user->getNachname()?></a>
      </h1>
    </header>
    <div class="content-allgemein">
    <?php
    foreach($kurse as $kurs){

      $istEingeschrieben = $kurs->nimmtAnKursTeil($user);
      ?>
      <div class="Content <?php if($istEingeschrieben){echo 'meinKurs';} ?>">
        <div class="Beschreibung">
          <details>
            <summary>
              <?php echo $kurs->getTitel();?>
              <a class="right"><?php echo $kurs->getTeilnehmerAnzahl()?>/<?php echo $kurs->getMaxTeilnehmer()?> Teilnehmer</a>
            </summary>
            <div class="informations">

              <div class="Infos">
                <div class="info-text">
                  <a>Am <?php echo $kurs->getFormatedDate()?></a>
                </div>
              </div>
              <p>
                <?php echo $kurs->getShortBeschreibung();?>...
              </p>
              <div class="info-text info-right">
                <a href="index.php?aktion=show_KursInfos&kursId=<?php echo $kurs->getId();?>&token=<?php echo $user->getToken();?>">Mehr Informationen</a>
              </div>
            </div>
          </details>
        </div>
      </div>
    <?php }?>
    </div>
        </div>
      <?php }?>
  </body>
