<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/seminar-style.css">
  <link rel="stylesheet" type="text/css" href="styles/footer-style.css">
  <link rel="icon" href="../styles/logo.png">
    <meta name="noindex" content="noindex" />
  <title>Fortbildungsverwaltung - Seminare</title>
  <meta charset="UTF-8" />
</head>

<body>
  <?php
  $fortbildungen = Fortbildung::findeNachBenutzer($user);
  if($fortbildungen == NULL){
    echo'<div id="nicht-angemeldet"><p>Leider bist du für keine Fortbildung angemeldet!<span id="back-to-login"><br><a href="index.php?aktion=login">Zurück zum Login</a></span></p></div>';
  }
  $statusbool = false;
  foreach($fortbildungen as $fortbildung){
    if($fortbildung->getStatus() == true){
      $statusbool = true;
    }
  }
  if($statusbool == false){
    echo'<div id="nicht-angemeldet"><p>Leider bist du für keine aktive Fortbildung angemeldet!<span id="back-to-login"><br><a href="index.php?aktion=login">Zurück zum Login</a></span></p></div>';
  }
  foreach($fortbildungen as $fortbildung){
    if($fortbildung->getStatus() == true){
    $kurse = $fortbildung->findeAlleKurse();
    ?>
    <div class="seminar">
    <header>
      <h1>
        <?php echo $fortbildung->getName(); ?>
        <a class="header-info-text">Seminare / <?php echo $user->getVorname().' '.$user->getNachname()?></a>
      </h1>
    </header>
    <div class="content-allgemein">
    <?php
    foreach($kurse as $kurs){

      $istEingeschrieben = $kurs->nimmtAnKursTeil($user);
      ?>
      <div class="Content <?php if($istEingeschrieben){echo 'meinKurs';} ?>">
        <div class="Beschreibung">
          <details>
            <summary>
              <a><?php echo $kurs->getTitel();?></a>
              <?php if($kurs->getMaxTeilnehmer() != 0){ ?>
              <a class="right"><?php echo $kurs->getTeilnehmerAnzahl()?>/<?php echo $kurs->getMaxTeilnehmer()?> Teilnehmer</a>
            <?php }else{?>
              <a class="right"><?php echo $kurs->getTeilnehmerAnzahl();?> Angemeldet</a>
              <?php } ?>
            </summary>
            <div class="informations">

              <div class="Infos">
                <div class="info-text important">
                  <a>Am <span class="info-important"><?php echo $kurs->getFormatedDate()?></span></a>
                </div>
              </div>
              <p>
                <?php echo $kurs->getShortBeschreibung();?>
              </p>
              <?php

              $abgelaufen = $kurs->istAbgelaufen();
              $anzahl = $kurs->getTeilnehmerAnzahl();
              $maxAnzahl =$kurs->getMaxTeilnehmer();
                if($abgelaufen != true){
                  if(!$user->nimmtAnKursTeilInFortbildung($kurs->getFortbildung_id()) && $anzahl < $maxAnzahl){
                ?>

                    <div class="info-text info-left">
                      <a href="index.php?aktion=anmelden&kursId=<?php echo $kurs->getId()?>&token=<?php echo $user->getToken() ?>" id="anmelden" class="button">Anmelden</a>
                  </div>
              <?php } elseif($kurs->nimmtAnKursTeil($user)){?>
                    <div class="info-text info-left">
                      <a href="index.php?aktion=abmelden&kursId=<?php echo $kurs->getId()?>&token=<?php echo $user->getToken() ?>" id="abmelden" class="button">Abmelden</a>
                    </div>
              <?php }elseif(!$user->nimmtAnKursTeilInFortbildung($kurs->getFortbildung_id()) && $maxAnzahl == 0){?>
                <div class="info-text info-left">
                <a href="index.php?aktion=anmelden&kursId=<?php echo $kurs->getId()?>&token=<?php echo $user->getToken() ?>" id="anmelden" class="button">Anmelden</a>
                </div>
              <?php }
              }?>
              <div class="info-text info-right">
                <a href="index.php?aktion=show_KursInfos&kursId=<?php echo $kurs->getId();?>&token=<?php echo $user->getToken();?>">Mehr Informationen</a>
              </div>
            </div>
          </details>
        </div>
      </div>
    <?php }?>
    </div>
        </div>
      <?php }}?>

      <?php
      include("views/impressum.tpl.html");
      ?>
  </body>
  </html>
