<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/seminar-style.css">
</head>
<body>
  <header>
    <h1>Fortbildung Titel</h1>
  </header>

  <div class="Content">
    <div class="Beschreibung">
      <details>
      <summary>Kurs Name</summary>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
      labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
      ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
      dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <div class="Infos">
      <div>
          <a>Am 12.12.20012</a>
        </div>
        <div>
          <a>20/40 Teilnehmer</a>
          </div>
        <div>
          <a>Von 8 bis 16 Uhr</a>
        </div>
        <div><a>Mehr Informationen</a>
        </div>‚
      </div
    </details>
    </div>
    </div>

</body>
