:root{
  --box-padding: 2px;
}

$main-blue: rgba(0, 48, 80, 1);
$main-orange: rgba(255, 203, 0, 1);
html, body{
  background-color: var(--main-white);
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.kurs{
  width: 95%;
  margin: 2.5%;
  border: 1px solid var(--dark-white);
  padding-bottom: 2.5%;
}
header{
margin: 0;
padding: 0;
  width: 95%;
margin-left: 2.5%;
margin-top: 2.5%;
border: 1px solid var(--dark-white);
  background-color: white;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  -moz-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);

  h1{
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
    color: var(--main-blue);
    padding-bottom: 10px;
  }

  .header-info-text{
    display: block;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    font-weight: normal;
    color: black;
    padding-bottom: 10px;
  }
}

.content-allgemein{
  width: 95%;
  margin-top: 5%;
  transform: translateX(2.5%);
  background-color: white;
  .Content{
    background-color: var(--main-blue);
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid var(--dark-white);
    width: 100%;
    &:not(:first-child){
      margin-top: 0.5em !important;
    }
    .Beschreibung{
      .informations{
        padding-bottom: 40px;
        .Infos{
          .info-text{
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            font-size: 2em;
            margin-left:1.5em;
            details{
              summary{
                  margin-left:1.5em;
                a{
                color: lighten($main-blue, 50%);
                }
              }
              ul{
                li{
                  color: lighten($main-blue, 50%);
                }
              }
            }
              a{

                color: lighten($main-blue, 50%);
                font-size: 0.6em;
                text-decoration: none;
              }
          }
        }
        p{
          color: lighten($main-blue, 70%);
          font-size: 1.2em;
          text-decoration: none;
          margin-left:1.5em;
          margin-right: 1.5em;
        }
        .info-right{
          float: right;
            margin-right:1.5em;
            cursor: pointer;
            padding: 10px;
            text-decoration: none;
            border: 1px solid lighten($main-blue, 50%);
            a{
              color: lighten($main-blue, 50%);
              text-decoration: none;
            }
        }
      }
    }
  }
}
