:root{
  --box-padding: 2px;
}

$main-blue: rgba(0, 48, 80, 1);
$main-orange: rgba(255, 203, 0, 1);
html, body{
  background-color: var(--main-white);
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.seminar{
  width: 95%;
  margin: 2.5%;
  border: 1px solid var(--dark-white);
  padding-bottom: 2.5%;
}
header{
margin: 0;
padding: 0;
  width: 95%;
margin-left: 2.5%;
margin-top: 2.5%;
border: 1px solid var(--dark-white);
  background-color: white;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  -moz-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);

  h1{
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
    color: var(--main-blue);
    padding-bottom: 10px;
  }

  .header-info-text{
    display: block;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    font-weight: normal;
    color: black;
    padding-bottom: 10px;
  }
}


.Beschreibung{
  transition: 0.5s all ease-in;
  details {
    padding-bottom: 15px;
    summary{
    margin: 0 2em 1.5em 2em;
    padding-left: 20px;
    font-size: 2em;
    padding: var(--box-padding);
    width: (100% var(--box-padding));
    color: lighten($main-blue, 80%);
    font-weight: normal;
    padding-top: 0.5em;
    &:focus{
      outline: 0 none;
    }

  }
  p{
    padding:0px 2.5em;
    text-align: justify;
    font-size: 1.2em;
    color: lighten($main-blue, 80%);

  }
}
}

.right{
  text-align: right;
  float: right;
  font-size: 1em !important;
}

.content-allgemein{
width: 95%;
margin-top: 5%;
transform: translateX(2.5%);
background-color: white;
.Content{
  background-color: var(--main-blue);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--dark-white);
  width: 100%;
  &:not(:first-child){
    margin-top: 0.5em !important;
  }

}
}

.info-text {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 2em;
  margin-left:1.5em;
    a{

      color: lighten($main-blue, 60%);
      font-size: 0.6em;
      text-decoration: none;
    }
}
.info-right{
  float: right;
    margin-right:1.5em;
    cursor: pointer;
}
.informations{
  padding-bottom: 5%;
}

.infos div:nth-child(4){
  text-decoration-line: underline;
}


@media only screen and (max-width: 1100px) {
  .Beschreibung details summary{
    font-size: 0.8em;
    display: table;
  }
  .right{
    font-size: 0.7em !important;
    display: table-cell;
  }
  .Beschreibung details p {
    font-size: 0.8em;
    margin-bottom: 15px;

  }

.info-text a, .informations p, .info-text{
    font-size: 0.8em;
  }
.info-text {
    text-align: left;
    margin-left:2.5em;
  }
  .info-right {
      text-align: left;
      margin-right:2.5em;
      border: 1px solid lighten($main-blue, 60%);
      padding: 5px;
    }
}
.meinKurs{
  background-color: $main-orange !important;

  .Beschreibung{
    background-color: $main-orange !important;

        color: darken($main-orange, 30%);

      .informations{
        .Infos{
          .info-text{
            a{
              color: darken($main-orange, 60%);
            }
          }
        }

        .info-right{
          a{
            color: darken($main-orange, 60%);
          }
          border: 1px solid darken($main-orange, 60%);
          padding: 5px;
        }

        p{
          margin-left: 2.5em;
          margin-right: 2.5em;
          color: darken($main-orange, 30%);
        }
        .info-text{

            details{
              summary{
                a{
                  color: darken($main-orange, 30%);
                }
              }
                ul{
                  margin-left: 0;
                  li{
                    color: darken($main-orange, 30%);
                  }
                }

            }

        }
      }
        padding-bottom: 15px;
    }

}



@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Beschreibung details[open] .informations{
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}
