:root{
  --box-padding: 5px;
}
html, body{
  background-color: var(--main-blue);
}
header{
  text-align: center;
  font-size: 16px;
  color: var(--main-blue);
  background-color: white;
  border-bottom: 4px solid var(--background-orange);
}
header h1{
  padding-bottom: 10px;
  padding-top: 9px;
}

.Content{
  margin-top: 10%;
  background-color: white;
  border: 4px solid var(--background-orange);
  width: 80%;
  transform: translateX(10%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 5px rgba(255,255,255,0.3);
  -moz-box-shadow: 0px 2px 5px 5px rgba(255,255,255,0.3);
  box-shadow: 0px 2px 5px 5px rgba(255,255,255,0.3);
  position: relative;
}
.Content div{
  width: 90%;
  transform: translateX(5%);
}
.Content div p{
  text-align: left;
  -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   color: var(--main-blue);
}
.bold{
  font-weight: bold;
}
#back{
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 5%;
  text-align: center;
  font-size: 40px;
  color: var(--main-blue);
  background-color: white;
  padding-bottom: 10px;
  padding-top: 9px;
}

.button{
  border-radius: 10px;
  border: 1px solid var(--main-blue);
  padding: 15px;
  color: var(--main-blue);
  font-weight: bold;
  position: absolute;
  right: 0;
  transform: translateY(-120%);
  cursor: pointer;
  text-decoration: none;
  background-color: white;
}

#anmelden:hover{
  background-color: var(--main-green);
}
#abmelden:hover{
  background-color:  var(--main-red);
}

details{
  color: var(--main-blue);
}
details summary{
  color: var(--main-blue);
}
@media only screen and (max-width: 1100px) {
  .button{
    margin-top: 50px;
  }
  .Content{
    padding-bottom: 60px;
  }
  #anmelden{
    background-color: var(--main-green);
  }
  #abmelden{
    background-color:  var(--main-red);
  }
  header h1{
    width: 70%;
    margin-left: 15%;
    word-wrap: break-word;
  }
}
