:root{
  --box-padding: 5px;
}
html, body{
  background-color: var(--main-orange);
}
header h1{
  text-align: center;
  font-size: 40px;
  color: var(--main-blue);
  background-color: white;
  border-bottom: 4px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}
.Beschreibung details summary{
  border-bottom: 4px solid var(--main-blue);
  margin: 2em;
  padding-left: 20px;
  font-size: 2em;
  padding: var(--box-padding);
  width: (100% var(--box-padding));
}
.Beschreibung details summary:focus{
  outline: 0 none;


}
.Beschreibung details p{
padding:0px 2em;
text-align: justify;

}
.Content{
  margin-top: 10px;
  border: 4px solid var(--main-blue);
  width: 90%;
  background-color: white;
  transform: translateX(5%);
}

.Infos{
  display: flex;
  flex-wrap: wrap;
}
.infos div {
  min-width: 40%;
  margin:6px 2em;
  font-size: 1.5em;
  color: blue;
}

.infos div:nth-child(4), .infos div:nth-child(2) {
text-align: right;
}


@media only screen and (max-width: 768px) {
  .infos div {
    min-width: 100%;
  }
}
.meinKurs{
  background-color: green !important;
}
